button {
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.1s ease-in-out;

    &:active {
        transform: scale(0.95);
    }
}

.elliptical {
    clip-path: ellipse( 50% 50% at 50% 50% );
}

.rectangular {
    border-radius: 5px;
}

.hexagonal {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}